body{
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background:linear-gradient(to right,#eef2f7,#e3e9f3);
}

html{
  scroll-behavior:smooth;
}

header{
  background:linear-gradient(135deg,#667eea,#764ba2);
  color:white;
  text-align:center;
  padding:60px 20px 100px;

  display:flex;
  flex-direction:column;
  align-items:center;   /* CENTER */
}


nav{
  background:#eee;
  padding:15px 0;

  display:flex;
  justify-content:center;   
  gap:40px;
}

nav a{
  text-decoration:none;
  color:#333;
  font-weight:600;
  font-size:19px;
}

nav a:hover{
  color:#667eea;
}

.about{
  text-align:center;
  padding:40px;
}

.profile{
  width:170px;
  height:170px;
  border-radius:50%;
  object-fit:cover;
  border:6px solid white;
  box-shadow:0 10px 30px rgba(0,0,0,0.25);

  display:block;
  margin:0 auto;      
  margin-top:-80px;  
}




section{
  width:80%;
  margin:30px auto;
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

h2{
  color:#4facfe;
}

.skills span{
  background:linear-gradient(45deg,#667eea,#764ba2);
  color:white;
  padding:10px 18px;
  margin:6px;
  border-radius:20px;
  display:inline-block;
  transition:0.3s;
}

.skills span:hover{
  transform:scale(1.1);
}

.card{
  background:white;
  padding:20px;
  margin:20px 0;
  border-radius:15px;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
  transition:0.3s;
}
.card:hover{
  transform:translateY(-8px);
}

footer{
  text-align:center;
  background:#222;
  color:white;
  padding:15px;
}
